<!-- <div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="surface-border border-1 border-round p-4">
                <div class="text-900 font-semibold text-lg mb-3">Radicador Beta 0.3</div>
                <p class="line-height-3 mt-0 mb-3">Este titulo secundario es bueno</p>

                <p-editor [style]="{'height':'250px'}" [(ngModel)]="textoHTML"></p-editor>

                <div class="flex column-gap-3 justify-content-end mt-3">
                    <button pButton pRipple type="button" class="p-button-primary" icon="pi pi-check" (click)="checkText()" label="Revisar texto"></button>

                    <input type="file" (change)="onFileSelect($event)" accept=".txt,.doc,.docx" style="display:none" #fileInput />
                    <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-upload" (click)="fileInput.click()" label="Subir archivo"></button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="surface-border border-1 border-round p-4">
                <div class="text-900 font-semibold text-lg mb-3">Radicador Beta 0.3</div>
                <p class="line-height-3 mt-0 mb-3">Este título secundario es bueno</p>

                <p-editor [style]="{'height':'250px'}" [(ngModel)]="textoHTML"></p-editor>

                <div class="flex column-gap-3 justify-content-end mt-3">
                    <button pButton pRipple type="button" class="p-button-primary" icon="pi pi-check" (click)="checkText()" label="Revisar texto"></button>

                    <input type="file" (change)="onFileSelect($event)" accept=".txt,.doc,.docx" style="display:none" #fileInput />
                    <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-upload" (click)="fileInput.click()" label="Subir archivo"></button>
                </div>
            </div>
        </div>
    </div>
</div>
